# {{ ansible_managed }}

(default) {
    log / stdout {
        {{ caddy_log_ipmask }}
    }
    gzip
    tls {{ le_email }}
}

# Dokuwiki Caddy configuration
{{ dokuwiki_host }} www.{{ dokuwiki_host }} {
    import default
    root {{ dokuwiki_docker_root }}

    fastcgi / 127.0.0.1:9000 php {
      index doku.php
     }

    on startup php-fpm7

    internal /forbidden

    rewrite {
      r /(data/|conf/|bin/|inc/|install.php)
      to /forbidden
    }
    rewrite /_media {
      r (.*)
      to /lib/exe/fetch.php?media={1}
    }
    rewrite /_detail {
      r (.*)
      to /lib/exe/detail.php?media={1}
    }
    rewrite /_export {
      r /([^/]+)/(.*)
      to /doku.php?do=export_{1}&id={2}
    }
    rewrite {
      if {path} not_match /lib/.*
      if {path} not_match /forbidden
      r /(.*)
      to {uri} /doku.php?id={1}&{query}
    }
}

# Etherpad Caddy configuration
{{ etherpad_host }} {
    import default
    proxy / {{ etherpad_ct_name }}:{{ etherpad_ct_port }}
}

# Discourse Caddy configuration

{{ dis_hostname }} {
    log / stdout {
        {{ caddy_log_ipmask }}
    }
    gzip
    tls {{ le_email_101cy }}
    proxy / {{ dis_hostname }}:{{ dis_ports.split(':') | first }}
}
